<%= labelled_form_for @issue, :url => time_trackers_stop_path, :remote => true, :html => {:id => 'issue-compact-form', :multipart => true} do |f| %>

  <% view_private = User.current.allowed_to?(:view_private_messages, @project) %>

    <fieldset class="tabular"><legend><%= l(:button_update) %></legend>
      <% if User.current.allowed_to?(:log_time, @project) %>

        <%= labelled_fields_for :time_entry, @time_entry do |time_entry| %>
          <div class="splitcontent">
            <div class="splitcontentleft">
              <p><%= time_entry.text_field :hours, :size => 6, :label => :label_spent_time %> <%= l(:field_hours) %></p>
            </div>
          <% end %>
          <div class="splitcontentright">
            <p><%= submit_tag l(:button_submit) %>
              <%= link_to_if_authorized(l(:button_update), {:controller => 'issues', :action => 'edit', :id => @issue, :time_entry => { :hours => @time_entry.hours } }, :onclick => 'hideModal("ajax-modal");AndScrollTo("update", "notes"); return false;', :class => 'icon icon-edit', :accesskey => accesskey(:edit)) %>
            </p>
          </div>
        </div>
      <% end %>

      <% if @edit_allowed || !@allowed_statuses.empty? %>
        <div class="splitcontent">
          <div class="splitcontentleft">

            <% if @issue.safe_attribute? 'status_id'  %>
              <p><%= f.select :status_id, (@allowed_statuses.collect {|p| [p.name, p.id]}), {:required => true},
                  :onchange => "updateIssueFrom('#{escape_javascript project_issue_form_path(@project, :id => @issue, :format => 'js')}')" %></p>
            <% else %>
              <p><label><%= l(:field_status) %></label> <%= h(@issue.status.name) %></p>
            <% end %>
          </div>
        </div>
        <div class="splitcontent">
          <div class="splitcontentleft">
            <% if @issue.safe_attribute? 'assigned_to_id' %>
              <p><%= f.select :assigned_to_id, principals_options_for_select(@issue.assignable_users, @issue.assigned_to), :include_blank => true, :required => @issue.required_attribute?('assigned_to_id') %></p>
            <% end %>
          </div>
        </div>
      <% end %>
      <%=  l(:field_notes) %>
      <%= text_area_tag 'notes', @notes, :cols => 60, :rows => 3, :class => 'wiki-edit' %>
    </fieldset>

  <%= f.hidden_field :lock_version %>
  <%= f.hidden_field :id %>
  <%= hidden_field_tag 'last_journal_id', params[:last_journal_id] || @issue.last_journal_id %>

  <%= hidden_field_tag "start_tracker","" %>

<% end %>


